.input-group-text {
    border-radius: 10px 0 0 10px !important;
}

body {
    background: linear-gradient(145deg, rgb(0, 174, 255), rgb(40, 53, 40));
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    background-color: rgba(13, 29, 82, 0.2);
    box-shadow: 0 0 5px black;
    border-radius: 50px;
}

.form-control {
    opacity: 0.9;
    box-shadow: 0 0 5px; 
}

.cbtn {
    width: 100%;
}
